extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  h2 Obtener toda la información: "/sensor_data/"
  p No necesita algún parametro especial
  br
  h2 Obtener el valor de una sola lectura: "/sensor_data/:id"
  p el parámetro :id toma como etrada el object_id de la lectura
  br
  h2 Obtener toda la información en un mes: "/sensor_data/month/:month"
  p el parámetro :month es el valor numérico de un mes. Ej (Febrero). '/sensor_data/month/2'
  br
  h2 Obtener toda la información para un día del mes actual: "/sensor_data/day/:day"
  p el parámetro :day es un día del mes. Ej (Dia 7). '/sensor_data/day/7' (Si se requiere un día específico de otro mes, se utiliza el estilo "full_date"
  br
  h2 Obtener toda la información en un rango de horas del día actual : "/sensor_data/from_hour/:low/to_hour/:high"
  p el parámetro :low es la hora mas baja, y :high es la hora mas alta. Ej (Entre 7am y 2pm). '/sensor_data/hour_range/7/14'
  br
  h2 Obtener toda la información entre 2 fechas: "/sensor_data/from_date/:low/to_date/:high"
  p el parámetro :low es la fecha mas baja, y :high es la fecha mas alta. Ej. '/sensor_data/full_date/1994-12-11-12-24-15/1995-1-5-10-20-22'
  p la fecha se introduce con año, mes, día, hora, minuto, y segundo, con el formato AAAA-M-D-H-M-S. Ej (11/12/1994 12:24:15). 1994-12-11-12-24-15
  br